# OpenAI — required for all demos
OPENAI_API_KEY=sk-...

# GEMINI - required if using Gemini
GEMINI_API_KEY=...

# Serper — required for web search demo
SERPER_API_KEY=...

LOKI_VERSION="<required>"
PROM_VERSION="<required>"
AM_VERSION="<required>"
BB_VERSION="<required>"

# Telegram
TOKEN="<telegram token>"
CHAT_ID="<telegram chat id>"
TIME_ZONE="<required>"

# Troubleshooter
TRBLSH_URL="<under_construction>"