# OpenAI — required for all demos
OPENAI_API_KEY=sk-...

# GEMINI - required if using Gemini
GEMINI_API_KEY=...

# Serper — required for web search demo
SERPER_API_KEY=...

LOKI_VERSION=latest
PROM_VERSION=latest
AM_VERSION=latest
BB_VERSION=latest

# Telegram
TOKEN="<telegram token>"
CHAT_ID="<telegram chat id>"
TIME_ZONE="Bulgaria/Sofia"

# Troubleshooter
TRBLSH_URL="<under_construction>"